// box-shadow: 8px 1px 5px #8787;

*, ul, div, p, a{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// nav
header{
 .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;
  padding: 0 113px;
  box-shadow: 8px 1px 5px #8787;

  &-brand{
  }

  &-list{
    height: 75px;

    &-item{
    height: 75px;
    display: flex;
    align-items: center;

      &-header{
        list-style: none;
        padding: 0 20px;
        
        &__menu{
          font-family: "Roboto", sans-serif;
          color:#10375C ;
          font-size: medium;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }

  &-auth{
    &__login{
      color: #FF5722;
      font-family: "Roboto", sans-serif;
    }

    &__login:hover {
      color: white;
      background-color: #FF5722;
    }

    &__signup{
      background-color: #FF5722;
      color: white;
    }

    &__signup:hover{
      color: #FF5722;
      background-color: white;
    }
  }
  }
}

// introducing
.introducing{
  padding: 20px 0;
  // background-color: aquamarine;
  .first-text{
    position: relative;
    display: flex;
    flex-direction: column;

    &__intro-sm{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-text{
        font-family: "Roboto", sans-serif;
        color: black;
        padding-right: 10px;
      }

      &-icon{
        font-size: larger;
        color: #FF5722;
        transform: translatey(0.5px);
        transition: 0.5s;
      }

      &-icon:hover{
        padding-left: 5px;
        transition: 0.5s;
      }

    }

    &__intro-lg{
      display: flex;
      justify-content: space-between;

      &-capitalization{
        width: 650px;
        line-height: 60px;
        color: #10375C;
        font-family: "Port Lligat Sans", sans-serif;
        font-size: 50px;
        letter-spacing: 2px;

        span{
          color: #FF5722;
        }
      }

      &-normal{
        width: 350px;
        line-height: 30px;
        text-align: left;
        font-size: 18px;
        color: dimgrey;
        // padding-left: 20px;
      }
    }
  }
}

// form-content
.finding{
  width: 100%;
  height: max-content;
  padding: 20px 0;

  &-form{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: right;
    // background-color: aqua;
    position: relative;

    &-select{
      width: 350px;
      height: 350px;
      background-color:rgba($color: #10375c, $alpha: 0.9);
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 80px;
      right: 700px;

      &-intro{
        color: white;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
      }

      &-choose{
        background-color: #10375C;
        color: gray;
        line-height: 15px;
        padding: 0 2px;

        select{
          width: 100%;
          color: white;
          background-color: #10375C;
          border: none;
        }
      }

      button{
        background-color: #FF5722;
        color: white;
        font-family: "Roboto", sans-serif ;
        font-size: 20px;
        padding: 5px 0;
        border: none;

      }
    }

    &-image{
      background-image: url(../img/dexus-office-space.jpg);
      width: 70%;
      height: 500px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
  }
}

.spaces{
  width: 100%;
  height: max-content;
  // background-color: aquamarine;

  &-text{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    // background-color: #FF5722;

    &-lg{
      color: #10375C;
      text-transform: capitalize;
      font-size: 45px;
      font-weight: bold;
      font-family: 'Merriweather', serif;
      align-self: center;
    }

    &-sm{
      width: 500px;
      align-self: center;
      color: gray;
      line-height: 130%;
      font-family: "Mingzat", sans-serif;
    }

    &-icon{
      display: flex;
      align-items: center;
      .icon-short{
        color: gray;
        font-size: 30px;
        padding-right: 10px;
      }

      .icon-long{
        color: #FF5722;
        font-size: 50px;
      }
    }
  }

  &-img{
    padding: 10px 0;
    // background-color: blueviolet;
    height: max-content;
    display: flex;
    justify-content: space-between;

    &-1{
      width: 300px;
      height: 400px; 
      background-image: url(../img/1.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      display: flex;
      flex-direction: column;
      justify-content: end;


      &__btn{
        width: 50px;
        height: 50px;
        background-color: #FF5722;
        display: flex;
        
        &-icon{
          color: white;
          font-size: 20px;
          margin: auto;
        }
      }
    }
    &-2{
      position: relative;
      width: 300px;
      height: 450px;
      background-color: #10375C;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;



      &-lg{
        padding-bottom: 10px ;
        font-family: 'Merriweather', serif;
        font-size: 25px;
        color: white;
        text-transform: capitalize;
        font-weight: lighter;

      }

      &-sm{
        width: 220px;
        text-align: center;

      }

      &__btn{
        width: 250px;
        height: 50px;
        background-color: #FF5722;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;


        p{
          margin: auto 0px;
        }
        // justify-self: end;
        &-icon{ 
          padding-left: 10px;
          font-size: 20px;
          padding-top: 5px;
        }
      }
    }

    &-3{
      width: 300px;
      height: 400px; 
      background-image: url(../img/1.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      display: flex;
      flex-direction: column;
      justify-content: end;

      &__btn{
        width: 50px;
        height: 50px;
        background-color: #FF5722;
        display: flex;
        
        &-icon{
          color: white;
          font-size: 20px;
          margin: auto;
        }
      }
    }
  }

  &-scroll{
    background-color: wheat;
    width: 100vw;
    height: 10px
  }
}

.spread{
  padding-top: 30px;
  &-list{
    height: 500px;
    background-color: whitesmoke;

    &-card{
      height: 100%;

      &-left, &-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .icon{
          padding-top: 15px;
          padding-left: 15px;
          font-size: 30px;
          color: #10375C;
        }

        .text-lg{
          font-size: 30px;
          color: #10375C;
        }
        .text-desc{
          color: gray;
          font-size: 20px;
        }
      }
    }
  }
  &-card{
    height: 500px;
    background-color: #10375C;
    color: white;
    &-block{
      height: 100%;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__title{
        font-size: 20px;
      }

      &__desc{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        line-height: 120%;
        padding: 25px 0;
        
      }
      
      &__sub-desc{
        font-size: 20px;

      }
    }
    
  }
}

.our-facilities{
  // height: 1000px;
  background-color: beige;
  margin-top:50px ;

  &-text{
    width: 450px;
    margin-bottom: 30px;
    margin-left: 20px;

    &__desc{
      font-size: 20px;
      color: #10375c;
      font-family: "Roboto", sans-serif;
      padding: 10px 0;
    }

    &__title{
      font-size: 30px;
      color: #10375C;
      font-family: 'Merriweather', serif;

    }
  }

  &-perform{
    &__btn{
      height: 500px;

      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;

      &-block, .shadow{
        color: #10375C;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        padding: 30px 0;

        p{
          margin-left: 20px;
          font-weight: bold;
        }
      }

      .shadow{
        background-color: #FF5722;
        color: white;
        // box-shadow: 2px 1px 0 0 #FF5722;
      }
    }

    &__img{
      background-image: url(../img/cfh.jpg);
      height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

.frispes-gallery{
  height: 600px;
  margin-top: 40px ;
  background-color: whitesmoke;

  &-pic{

    &-first{
      height: 600px;
      background-image: url(../img/pic1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;

    }

    &-second{
      height: 600px;
      background-image: url(../img/pic2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-third{
      height: 600px;

      &__text{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 15px;
  
        &-1{
          width: 70%;
          &-title-sm{
            color: black;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
          }
          &-title-lg{
            color: #10375C;
            font-family: 'Merriweather', serif;
            font-size: 32px;
            text-align: left;
            margin: 10px 0;
          }
          &-icon{
            display: flex;
            align-items: center;
            .icon-short{
              color: gray;
              font-size: 30px;
              padding-right: 20px;
            }
      
            .icon-long{
              color: #FF5722;
              font-size: 50px;
            }
          }
        }
      }
      
      &__pic{
        height: 60%;
        display: flex;
        justify-content: space-between;


        &-first{
          height: 100%;
          width: 48%;
          background-image: url(../img/pic3.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          // margin-right: 5px;
          // background-color: #10375c;
        }
        &-second{
          height: 100%;
          width: 48%;
          background-image: url(../img/pic4.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          // margin-left: 5px;
          // background-color: #FF5722;
        }

      }
    }
  }



}

.partner{
  height: max-content;
  margin-top: 30px;
  background-color: antiquewhite;

  &__title{
    text-align: center;
    margin-bottom: 15px;
    &-lg{
      font-size: 35px;
      font-family: 'Merriweather', serif;
      color: #10375C;
      margin-bottom: 10px;
    }
    &-sm{
      font-size: 16px;
      color: gray;
    }
  }

  &__logo{
    height: 100px;
    &-google{
      width: 90%;
      height: 100%;
      background-image: url(../img/Google.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &-tokopedia{
      width: 90%;
      height: 100%;
      background-image: url(../img/tokopedia.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &-upwork{
      width: 90%;
      height: 100%;
      background-image: url(../img/upwork.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &-microsoft{
      width: 90%;
      height: 100%;
      background-image: url(../img/microsoft.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &-shopify{
      width: 90%;
      height: 100%;
      background-image: url(../img/shopify.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &-stripe{
      width: 90%;
      height: 100%;
      background-image: url(../img/stripe.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
  }
}

.review{
  margin-top: 30px;

  &__title{
    // padding: 0 25px;
    &-sm{
      font-size: 20px;
      color: gray;
    }
    &-lg{
      font-size: 35px;
      color: #10375C;
      font-family: 'Merriweather', serif;
      display: flex;
      justify-content: space-between;

      .text-title{
        width: 500px;
      }
      &-icons{
        display: flex;
        align-items: center;
        .icon-short{
          color: gray;
          font-size: 30px;
          padding-right: 20px;
        }
  
        .icon-long{
          color: #FF5722;
          font-size: 50px;
        }
      }

    }

  }
  &__comments{
    // float: right;
    display: flex;
    justify-content: end;

    &-block{
      // width: 90%;
      height: 400px;
      background-color: #10375C;
      background-size: 90%;
      margin-left: 20px;
      &-customer{
        height: 400px;
        // margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &-text{
          color: white;
          font-size: 16px;
          height: 250px;
          font-family: "Roboto", sans-serif;

        }
         &-profile{
          display: flex;
          justify-items: baseline;
          .pic{
              width: 50px;
              height: 50px;
              background-image: url(../img/people.jpg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
              border-radius: 50%;
              margin-right: 15px;
              margin-left: 15px;
          }

          .identity{
            color: white;
            font-family: "Roboto", sans-serif;


            .use-name{
              font-weight: bold;
            }
          }
        }
        
      }

    }
  }
}

.find-answer{
  margin-top: 30px;
  // height: 500px;
  &__title{
    text-align: center;
    margin: auto;
    // te;
    width: 500px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #10375C;
    font-size: 32px;

  }

  &-block{
    margin-top: 30px;
    height: 300px;
    position: relative;

    &__question{
      height: 200px;
      background-color: white;
      font-family: 'Merriweather', serif;
      font-size: 20px;
      font-weight: lighter;
      color: #FF5722;
      box-shadow: 0 2px 40px 0 gray;
      // margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // position: relative;
      &-text{
        text-align: center;
      }

      &-btn{
        width: 50px;
        height: 50px;
        font-size: 20px;
        background-color: #FF5722;
        position: absolute;
        bottom: -20px;
        opacity: 0.9;
        border: none;

        .icon{
          color: white;
        }

        .icon-center{
          color: #FF5722;
        }

      }

      .center-btn{
        background-color: white;
        box-shadow: -2px 10px 40px 0 gray;
      }
    }

    .center{
      background-color: #FF5722;
      color: white;
      box-shadow: none;
      z-index: 1;
    }
  }

  &-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 500px;
    color: #FF5722;

    i{
      margin-top: 5px;
      padding-left: 10px;
    }
  }

  
}

.news{
  &-title{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    &__text-lg{
      color: #10375C;
      font-family: 'Merriweather', serif;
      font-size: 32px;

    }

    &__text-sm{
      display: flex;
      justify-content: end;
      align-items: center;
      color: #FF5722;
      font-size: 16px;
      
      p{
        padding-right: 10px;
      }
      i{
        margin-top: 3px;
      }
    }
  }

  &-post-line1, &-post-line2{
    &-content__pic{
      position: relative;
      // width: 90%;
      height: 300px;
      // background-color: #FF5722;
      margin: 5px 0;
      img{
        height: 300px;
        // width: ;
        // margin: 5px;
      }
      &-text{
        width: 100%;
        height: 100px;
        background-color: rgba($color: white, $alpha: 0.9);
        z-index: 3;
        position: absolute;
        bottom: 0;
        // margin: auto 0;
        display: flex;


        p{
          font-family: 'Merriweather', serif;
          font-size: 16px;
          font-weight: lighter;
          align-self: center;
          margin-left: 10px;
        }

      }
    }
  }




}

.banner{
  height: 400px;
  background-color: rgba($color: #10375C, $alpha: 0.95);
  display: flex;
  justify-content: space-around;

  &-card{
    width: 30%;
    color: white;
    margin: auto 0;
    font-family: "Roboto", sans-serif;


    &__title-lg{
      padding: 10px 0;
      font-family: 'Merriweather', serif;
      font-size: 32px;
    }

    &__btn{
      margin-top: 10px;
      width: 80%;
      background-color: #FF5722;
    }
  }

  &-pic{
    width: 30%;
    height: 100%;

    img{
      height: 100%;
    }
  }
}

footer{
  .header{
    height: 300px;
    background-color: rgba($color: #10375C, $alpha: 1);
    &-content{
      color: white;

      .title{
        display: flex;
        height: 100px;
        color: gray;
        align-items: flex-end;
        font-size: 20px;
        margin-bottom: 10px;
      }

      &-about{
        &-title{
          p{
            color: white;
            font-size: 32px;
            font-family: 'Merriweather', serif;
          }
        }
      }

      ul{
        li{
          line-height: 200%;
        }
      }


    }
  }
}