*, ul, div, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;
  padding: 0 113px;
  box-shadow: 8px 1px 5px rgba(136, 119, 136, 0.4666666667);
}
header .nav-list {
  height: 75px;
}
header .nav-list-item {
  height: 75px;
  display: flex;
  align-items: center;
}
header .nav-list-item-header {
  list-style: none;
  padding: 0 20px;
}
header .nav-list-item-header__menu {
  font-family: "Roboto", sans-serif;
  color: #10375C;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
}
header .nav-auth__login {
  color: #FF5722;
  font-family: "Roboto", sans-serif;
}
header .nav-auth__login:hover {
  color: white;
  background-color: #FF5722;
}
header .nav-auth__signup {
  background-color: #FF5722;
  color: white;
}
header .nav-auth__signup:hover {
  color: #FF5722;
  background-color: white;
}

.backtotop {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #10375C;
  opacity: 0.7;
  bottom: 40px;
  right: 50px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  list-style: 40;
  color: white;
  font-size: 18px;
  z-index: 10;
}

.backtotop:hover {
  background-color: #FF5722;
  opacity: 0.8;
}

.introducing {
  padding: 20px 0;
}
.introducing .first-text {
  position: relative;
  display: flex;
  flex-direction: column;
}
.introducing .first-text__intro-sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introducing .first-text__intro-sm-text {
  font-family: "Roboto", sans-serif;
  color: black;
  padding-right: 10px;
}
.introducing .first-text__intro-sm-icon {
  font-size: larger;
  color: #FF5722;
  transform: translatey(0.5px);
  transition: 0.5s;
}
.introducing .first-text__intro-sm-icon:hover {
  padding-left: 5px;
  transition: 0.5s;
}
.introducing .first-text__intro-lg {
  display: flex;
  justify-content: space-between;
}
.introducing .first-text__intro-lg-capitalization {
  width: 650px;
  line-height: 60px;
  color: #10375C;
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}
.introducing .first-text__intro-lg-capitalization span {
  color: #FF5722;
}
.introducing .first-text__intro-lg-normal {
  width: 350px;
  line-height: 30px;
  text-align: left;
  font-size: 18px;
  color: dimgrey;
}

.finding {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0;
}
.finding-form {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: right;
  position: relative;
}
.finding-form-select {
  width: 350px;
  height: 350px;
  background-color: rgba(16, 55, 92, 0.9);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 80px;
  right: 700px;
}
.finding-form-select-intro {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
.finding-form-select-choose {
  background-color: #10375C;
  color: gray;
  line-height: 15px;
  padding: 0 2px;
}
.finding-form-select-choose select {
  width: 100%;
  color: white;
  background-color: #10375C;
  border: none;
}
.finding-form-select button {
  background-color: #FF5722;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 5px 0;
  border: none;
}
.finding-form-image {
  background-image: url(../img/dexus-office-space.jpg);
  width: 70%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.spaces {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.spaces-text {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.spaces-text-lg {
  color: #10375C;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  align-self: center;
}
.spaces-text-sm {
  width: 500px;
  align-self: center;
  color: gray;
  line-height: 130%;
  font-family: "Mingzat", sans-serif;
}
.spaces-text-icon {
  display: flex;
  align-items: center;
}
.spaces-text-icon .icon-short {
  color: gray;
  font-size: 30px;
  padding-right: 10px;
}
.spaces-text-icon .icon-long {
  color: #FF5722;
  font-size: 50px;
}
.spaces-img {
  padding: 10px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.spaces-img-1 {
  width: 300px;
  height: 400px;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.spaces-img-1__btn {
  width: 50px;
  height: 50px;
  background-color: #FF5722;
  display: flex;
}
.spaces-img-1__btn-icon {
  color: white;
  font-size: 20px;
  margin: auto;
}
.spaces-img-2 {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #10375C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spaces-img-2-lg {
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  font-size: 25px;
  color: white;
  text-transform: capitalize;
  font-weight: lighter;
}
.spaces-img-2-sm {
  width: 220px;
  text-align: center;
}
.spaces-img-2__btn {
  width: 250px;
  height: 50px;
  background-color: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.spaces-img-2__btn p {
  margin: auto 0px;
}
.spaces-img-2__btn-icon {
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;
}
.spaces-img-3 {
  width: 300px;
  height: 400px;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.spaces-img-3__btn {
  width: 50px;
  height: 50px;
  background-color: #FF5722;
  display: flex;
}
.spaces-img-3__btn-icon {
  color: white;
  font-size: 20px;
  margin: auto;
}
.spaces-scroll {
  background-color: wheat;
  width: 100vw;
  height: 10px;
}

.spread {
  padding-top: 30px;
}
.spread-list {
  height: 500px;
  background-color: whitesmoke;
}
.spread-list-card {
  height: 100%;
}
.spread-list-card-left, .spread-list-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.spread-list-card-left .icon, .spread-list-card-right .icon {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 30px;
  color: #10375C;
}
.spread-list-card-left .text-lg, .spread-list-card-right .text-lg {
  font-size: 30px;
  color: #10375C;
}
.spread-list-card-left .text-desc, .spread-list-card-right .text-desc {
  color: gray;
  font-size: 20px;
}
.spread-card {
  height: 500px;
  background-color: #10375C;
  color: white;
}
.spread-card-block {
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spread-card-block__title {
  font-size: 20px;
}
.spread-card-block__desc {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  line-height: 120%;
  padding: 25px 0;
}
.spread-card-block__sub-desc {
  font-size: 20px;
}

.our-facilities {
  background-color: beige;
  margin-top: 50px;
}
.our-facilities-text {
  width: 450px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.our-facilities-text__desc {
  font-size: 20px;
  color: #10375c;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
}
.our-facilities-text__title {
  font-size: 30px;
  color: #10375C;
  font-family: "Merriweather", serif;
}
.our-facilities-perform__btn {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.our-facilities-perform__btn-block, .our-facilities-perform__btn .shadow {
  color: #10375C;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 30px 0;
}
.our-facilities-perform__btn-block p, .our-facilities-perform__btn .shadow p {
  margin-left: 20px;
  font-weight: bold;
}
.our-facilities-perform__btn .shadow {
  background-color: #FF5722;
  color: white;
}
.our-facilities-perform__img {
  background-image: url(../img/cfh.jpg);
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.frispes-gallery {
  height: 600px;
  margin-top: 40px;
  background-color: whitesmoke;
}
.frispes-gallery-pic-first {
  height: 600px;
  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.frispes-gallery-pic-second {
  height: 600px;
  background-image: url(../img/pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.frispes-gallery-pic-third {
  height: 600px;
}
.frispes-gallery-pic-third__text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 15px;
}
.frispes-gallery-pic-third__text-1 {
  width: 70%;
}
.frispes-gallery-pic-third__text-1-title-sm {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.frispes-gallery-pic-third__text-1-title-lg {
  color: #10375C;
  font-family: "Merriweather", serif;
  font-size: 32px;
  text-align: left;
  margin: 10px 0;
}
.frispes-gallery-pic-third__text-1-icon {
  display: flex;
  align-items: center;
}
.frispes-gallery-pic-third__text-1-icon .icon-short {
  color: gray;
  font-size: 30px;
  padding-right: 20px;
}
.frispes-gallery-pic-third__text-1-icon .icon-long {
  color: #FF5722;
  font-size: 50px;
}
.frispes-gallery-pic-third__pic {
  height: 60%;
  display: flex;
  justify-content: space-between;
}
.frispes-gallery-pic-third__pic-first {
  height: 100%;
  width: 48%;
  background-image: url(../img/pic3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.frispes-gallery-pic-third__pic-second {
  height: 100%;
  width: 48%;
  background-image: url(../img/pic4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.partner {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 30px;
  background-color: antiquewhite;
}
.partner__title {
  text-align: center;
  margin-bottom: 15px;
}
.partner__title-lg {
  font-size: 35px;
  font-family: "Merriweather", serif;
  color: #10375C;
  margin-bottom: 10px;
}
.partner__title-sm {
  font-size: 16px;
  color: gray;
}
.partner__logo {
  height: 100px;
}
.partner__logo-google {
  width: 90%;
  height: 100%;
  background-image: url(../img/Google.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.partner__logo-tokopedia {
  width: 90%;
  height: 100%;
  background-image: url(../img/tokopedia.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.partner__logo-upwork {
  width: 90%;
  height: 100%;
  background-image: url(../img/upwork.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.partner__logo-microsoft {
  width: 90%;
  height: 100%;
  background-image: url(../img/microsoft.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.partner__logo-shopify {
  width: 90%;
  height: 100%;
  background-image: url(../img/shopify.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.partner__logo-stripe {
  width: 90%;
  height: 100%;
  background-image: url(../img/stripe.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.review {
  margin-top: 30px;
}
.review__title-sm {
  font-size: 20px;
  color: gray;
}
.review__title-lg {
  font-size: 35px;
  color: #10375C;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: space-between;
}
.review__title-lg .text-title {
  width: 500px;
}
.review__title-lg-icons {
  display: flex;
  align-items: center;
}
.review__title-lg-icons .icon-short {
  color: gray;
  font-size: 30px;
  padding-right: 20px;
}
.review__title-lg-icons .icon-long {
  color: #FF5722;
  font-size: 50px;
}
.review__comments {
  display: flex;
  justify-content: end;
}
.review__comments-block {
  height: 400px;
  background-color: #10375C;
  background-size: 90%;
  margin-left: 20px;
}
.review__comments-block-customer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.review__comments-block-customer-text {
  color: white;
  font-size: 16px;
  height: 250px;
  font-family: "Roboto", sans-serif;
}
.review__comments-block-customer-profile {
  display: flex;
  justify-items: baseline;
}
.review__comments-block-customer-profile .pic {
  width: 50px;
  height: 50px;
  background-image: url(../img/people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}
.review__comments-block-customer-profile .identity {
  color: white;
  font-family: "Roboto", sans-serif;
}
.review__comments-block-customer-profile .identity .use-name {
  font-weight: bold;
}

.find-answer {
  margin-top: 30px;
}
.find-answer__title {
  text-align: center;
  margin: auto;
  width: 500px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #10375C;
  font-size: 32px;
}
.find-answer-block {
  margin-top: 30px;
  height: 300px;
  position: relative;
}
.find-answer-block__question {
  height: 200px;
  background-color: white;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: lighter;
  color: #FF5722;
  box-shadow: 0 2px 40px 0 gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.find-answer-block__question-text {
  text-align: center;
}
.find-answer-block__question-btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #FF5722;
  position: absolute;
  bottom: -20px;
  opacity: 0.9;
  border: none;
}
.find-answer-block__question-btn .icon {
  color: white;
}
.find-answer-block__question-btn .icon-center {
  color: #FF5722;
}
.find-answer-block__question .center-btn {
  background-color: white;
  box-shadow: -2px 10px 40px 0 gray;
}
.find-answer-block .center {
  background-color: #FF5722;
  color: white;
  box-shadow: none;
  z-index: 1;
}
.find-answer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF5722;
}
.find-answer-btn i {
  margin-top: 5px;
  padding-left: 10px;
}

.news-title {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.news-title__text-lg {
  color: #10375C;
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.news-title__text-sm {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #FF5722;
  font-size: 16px;
}
.news-title__text-sm p {
  padding-right: 10px;
}
.news-title__text-sm i {
  margin-top: 3px;
}
.news-post-line1-content__pic, .news-post-line2-content__pic {
  position: relative;
  height: 300px;
  margin: 5px 0;
}
.news-post-line1-content__pic img, .news-post-line2-content__pic img {
  height: 300px;
}
.news-post-line1-content__pic-text, .news-post-line2-content__pic-text {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  position: absolute;
  bottom: 0;
  display: flex;
}
.news-post-line1-content__pic-text p, .news-post-line2-content__pic-text p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: lighter;
  align-self: center;
  margin-left: 10px;
}

.banner {
  height: 400px;
  background-color: rgba(16, 55, 92, 0.95);
  display: flex;
  justify-content: space-around;
}
.banner-card {
  width: 30%;
  color: white;
  margin: auto 0;
  font-family: "Roboto", sans-serif;
}
.banner-card__title-lg {
  padding: 10px 0;
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.banner-card__btn {
  margin-top: 10px;
  width: 80%;
  background-color: #FF5722;
}
.banner-pic {
  width: 30%;
  height: 100%;
}
.banner-pic img {
  height: 100%;
}

footer .header {
  height: 300px;
  background-color: #10375c;
}
footer .header-content {
  color: white;
}
footer .header-content .title {
  display: flex;
  height: 100px;
  color: gray;
  align-items: flex-end;
  font-size: 20px;
  margin-bottom: 10px;
}
footer .header-content-about-title p {
  color: white;
  font-size: 32px;
  font-family: "Merriweather", serif;
}
footer .header-content ul li {
  line-height: 200%;
}/*# sourceMappingURL=styles.css.map */